# package directories
node_modules
jspm_packages

# Serverless directories
.serverless

# Webpack directories
.webpack

# Editor config
.vscode

# dotenv environment variables file
.env
.env.test

dev-certs/*.pem
